.ContactContainer{
  width: 100%;
  height: 407px;
  background-image: linear-gradient(117deg, #2babe9, #1e70ac);
  display: flex;
  flex-direction:column;
  flex-wrap: wrap;
     
    .ContactUs{
      margin-left: 171px;
      margin-top: 50px;
      order:1;
      height: 42px;
      font-family: Roboto;
      font-size: 36px;
      font-weight: 500;
      letter-spacing: 1.3px;
      color: #ffffff;
    }
    .PathBorder{
      margin-left: 171px;
      order: 2;
      width: 90px;
      border: solid 1px #ffffff;
    }
    .ContactInfoContainer{
      order: 3;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .LocationImage{
      order: 1;
      margin-left: 171px;
      margin-top: 56px;
    }
    .Aakash-Institute-Co{
      order: 2;
      margin-left: 40px;
      margin-top: 56px;
      width: 324px;
      height: 120px; 
      font-family: Roboto;
      font-size: 20px;
      line-height: 1.5;
      letter-spacing: 0.7px;
      color: #ffffff;
    }
    .Email-Phone-Info-Box{
      order: 3;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
    .EmailInfoBox{
      order: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .EmailImage{
      order: 1;
      margin-top: 65px;
      margin-left: 163px;
    }
    .EmailContent{
      order: 2;
      margin-top: 56px;
      margin-left: 40px;
      width: 158px;
      height: 80px;
      font-family: Roboto;
      font-size: 20px;
      line-height: 2;
      letter-spacing: 0.7px;
      color: #ffffff;
    }
    .PhoneInfoBox{
      order: 2;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
    .PhoneImage{
      order: 1;
      margin-top: 28px;
      margin-left: 163px;
    }
    .PhoneContent{
      order: 2;
      margin-left: 40px;
      margin-top: 21px;
      width: 154px;
      height: 80px;
      font-family: Roboto;
      font-size: 20px;
      line-height: 2;
      letter-spacing: 0.7px;
      color: #ffffff;
    }
    @media screen and (max-width: 568px){
    .ContactUs{
        width: 106px;
        height: 24px;
        font-size: 20px;
        letter-spacing: 0.7px;
        margin-left: 20px;
        margin-top: 30px;
      }
    .LocationImage{
        margin-left: 20px;
        margin-top: 28px;
      }
    .Aakash-Institute-Co{
        margin-left: 28px;
        margin-top: 28px;
        width: 194px;
        height: 72px;
        font-size: 12px;
        letter-spacing: 0.4px;
      }
    .PathBorder{
        margin-left: 20px;
      }  
      .EmailImage{
        margin-left: 20px;
        margin-top: 60px;
      }
      .EmailContent{
        margin-left: 17px;
        margin-top: 56px;
        width: 95px;
        height: 36px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.4px;
      }
      .PhoneImage{
        margin-left: 42px;
        margin-top: 60px;
      }
      .PhoneContent{
        margin-left: 20.1px;
        margin-top: 56px;
        width: 92px;
        height: 36px;
        font-size: 12px;
        line-height: 1.5;
        letter-spacing: 0.4px;
      }
    .Email-Phone-Info-Box{
        flex-direction: row;
      }
    }
    @media only screen and (min-width: 568px) and (max-width: 956px){
        .ContactUs{    
          margin-left: 70px;
          margin-top: 60px;
        }
        .PathBorder{
          margin-left: 70px;
        }
       .LocationImage{   
        margin-left: 70px;
        margin-top: 50px;
        }
       .Aakash-Institute-Co{
        margin-left: 28px;
        margin-top: 43px;
        } 
        .EmailImage{
          margin-left: 70px;
          margin-top: 60px;
        }
        .EmailContent{
          margin-left: 17px;
          margin-top: 56px;
        }
        .PhoneImage{   
           margin-left: 80px;
          margin-top: 60px;
        }
        .PhoneContent{
          margin-left: 25px;
          margin-top: 56px;
        }
       .Email-Phone-Info-Box{
          flex-direction: row;
        }
      
    }
}
