.Footer{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(94deg, #f4f4f4, #eaeaea);
    .COPYRIGHT-CONTENT{
        height: 19px;
        font-family: Roboto;
        font-size: 16px;
        color: #0a568d;
        margin-left: 24%;
        margin-top:21px; 
    }
    .Powered-By-Content{
        margin-left: 10%;
        height: 13px;
        font-family: Roboto;
        font-size: 11.2px;
        letter-spacing: 0.4px;
        color: #4a4a4a;
        margin-top:21px;
    }
    @media screen and (max-width: 568px){
        .COPYRIGHT-CONTENT{
        height: 10px;
        font-size: 11px;
        margin-left: 10%;
        text-align: center;
        color: #0a568d;
        float: none;
        }
        .Powered-By-Content{
            height: 13px;
            font-size: 8.2px;
            letter-spacing: 0.4px;
            color: #4a4a4a;
            text-align: center;
        }
    }
    @media only screen and (min-width: 568px) and (max-width: 956px){
        .Powered-By-Content{
        margin-left: 9%;
        font-size: 9.2px;
        }
        .COPYRIGHT-CONTENT{
        font-size: 12px;
        margin-left: 7%;
        }
    }
}
@media screen and (max-width: 568px){
.Footer{
    flex-direction: column;
    height: 90px;
}
}